<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="maTemplate">
<head>
<meta charset="UTF-8">
<title>Access denied</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container col-md-4 p-md-5">
		
		  <div class="card ">
			    <div class="card-header bg-info text-center">Access denied</div>
			    <div class="card-body">
			    	
			    	<div class="text-danger">
			    		Vous n'êtes pas autorisés à acceder à cette ressource
			    	</div>
			    
			    </div>
			    <div class="card-footer bg-info"> 
		  </div>
		
	</div>	
 
</div>

</body>
</html>